<div class="row">
  <img src="https://i.imgur.com/UMAjFiA.jpg?1" id="bg-static">
  <% provide(:title, "About") %>
  
  <div class="col-sm-offset-1 col-xs-8 header-static text-center hidden-xs">
    <h1 class="title-static">ABOUT LVE</h1>
    <h4 class="header-about">LVE utilizes <a href="http://www.last.fm/api" target="_blank">Last.fm's </a>API.<br/> Search and save your favorite artists and concerts</h4>
    <div> </div>
    <h3><a href="http://www.linkedin.com/pub/amanda-raymond/8a/807/377/" target="_blank">-Amanda Raymond-</a></h3>
  </div>
  
  <div id="xs-about" class="col-xs-12 text-center visible-xs hidden-sm">
    <h4>LVE utilizes <a href="http://www.last.fm/api" target="_blank">Last.fm's </a>API.<br/> Search and save your favorite artists and concerts</h4>
    <div> </div>
    <h3><a href="http://www.linkedin.com/pub/amanda-raymond/8a/807/377/" target="_blank">-Amanda Raymond-</a></h3>
  </div>
</div>

