<html id="bg-help">
<% provide(:title, "About") %>
<h1 id="title-about">About LVE</h1>
<h4 id="header-about">LVE is a web application that assists<br/> in searching for concerts and artists...<h/4>
<h4 id="header-about2">brought to you by Amanda Raymond</h4>
</html>