<img src="http://i.imgur.com/UMAjFiA.jpg?1" id="bg-static">
<% provide(:title, "About") %>
<div class="header-static">
  <h1 class="title-static">About LVE</h1>
  <h4 class="header-about">LVE is a web application that utilizes <a href="http://www.last.fm/api">Last.fm's </a>API to allow<br/> users to search for their favorite artists and concerts</h4>

</div>