<img src="http://i.imgur.com/UMAjFiA.jpg?1" id="bg-static">
<% provide(:title, "Contact") %>
<div class="header-static">
  <h1 class="title-contact">Contact Info</h1>
  <h3><a href="http://www.linkedin.com/pub/amanda-raymond/8a/807/377/">Amanda Raymond</a></h3>
  <h4 class="header-static2">amandawraymond@gmail.com</h4>
  <h5>804-291-8214</h5>
</div>

