<html id="bg-contact">
<% provide(:title, "Contact") %>
<h1 id="title-contact">Contact Info</h1>
<h3 id="header-contact">amandawraymond@gmail.com</h3>
<h3 id="header-contact2">804-291-8214</h3>
</html>

