<html id="bg-help">
<% provide(:title, "Help") %>
<h1 id="title-help">Need Help?</h1>
<h3 id="header-help">Just say "ggeeRRRYYY" three times...</h3>
<h3 id="header-help2">works every time, 60% of the time</h3>

</html>
