<img src="http://i.imgur.com/UMAjFiA.jpg?1" id="bg-static">
<% provide(:title, "Help") %>
<div id="help">
  <h1 id="title-help">Need Help?</h1>
  <h3 id="header-help"><a href="/signup">Sign up </a>and join LVE</h3>
  <h3 id="header-help2">Once you are signed in use the navigation bar as a guide</h3>
</div>

