<img src="http://i.imgur.com/UMAjFiA.jpg?1" id="bg-static">
<% provide(:title, "Home") %>
<div class="row">
  <h2 id="header-home" class="col-md-offset-1 col-md-4">Local Venue Entertainment</h2>
  <h1 id="welcome" class="col-md-4">Welcome to <span id="home">LVE</span></h1>
</div>
<h1 class="green visible-lg">LG</h1>
<h1 class="green visible-md">MD</h1>
<h1 class="green visible-sm">SM</h1>
<h1 class="green visible-xs">X SM</h1>