<img src="http://i.imgur.com/UMAjFiA.jpg?1" id="bg-static">
<% provide(:title, "Home") %>
<div id="home">
  <h2 id="header-home2">Local Venue Entertainment</h2>
  <h1 id="header-home">Welcome to <span class="home">LVE</span></h1>
</div>

