<div class="row">
  <img src="http://i.imgur.com/UMAjFiA.jpg?1" id="bg-static">
  <% provide(:title, "Home") %>
  <div class="col-xs-offset-1 col-xs-5 hidden-xs" id="home">
    <h2 id="header-home">Local Venue Entertainment</h2>
  </div>
  <div class="col-sm-offset-1 col-xs-8">
    <h1><span class="hidden-xs" id="welcome">Welcome to </span><span class="text-center" id="lve">LVE</span></h1>
  </div>
</div>


