<html id="bg-home">
<body id="body-home">
<% provide(:title, "Home") %>
<h2 id="header-home">Local Venue Entertainment</h2>
<h1 id="title-home">Welcome to <span class="home">LVE</span></h1>
</body>
</html>

