<html>
  <% provide(:title, "My Artists") %>
  <h1>My Artists</h1>
   <table>
    <tr>
      <th colspan="3"></th>
    </tr>
    <% @artists.each do |artist| %>
    <tr>
      <td class="title"><%= artist.title %>&nbsp;&nbsp;</td>
      <td class="link"><%= link_to 'Show', artist_path(task) %>&nbsp;&nbsp;</td>
      <td class="link"><%= link_to 'Delete', artist_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>    
    </tr>
    <% end %>
  </table>
  
</html>
