<img src="http://i.imgur.com/x2G2aLn.jpg" id="bg-list">
<% provide(:title, "Search Results") %>
<div class="results text-center"> 
  <% unless @artist.include?("error") %>
    <%= render 'results' %>
  <% else %>
    Sorry, there are no artists listed with that name.<br/> 
    <%= link_to "Search More Artists", new_artist_path %><br/>
    <%= link_to "Search Concerts for Similar Artists", new_concert_path %>
  <% end %>
</div>



  