<img src="http://i.imgur.com/zCJezhy.jpg?1" id="bg-search2">
  <% provide(:title) %>
  <div class="jumbotron-artist text-center">
    <%= form_tag artists_path, :method => 'get' do %>
      <div class="search-tag">artist</div>
      <%= text_field_tag :artist, params[:artist] %><br /><br />
      <%= submit_tag "Search", class: "btn-concert btn-primary" %>
    <% end %>
  </div>