<html id="bg-signup">
  <body id="margin-signup">
    <% provide(:title, "Sign Up") %>  

    <div class="jumbotron text-center">
      <h1 id="signup-title">Join</h1>
      <%= render 'form' %>
    </div>
  </body>
</html  