<img src="http://i.imgur.com/UMAjFiA.jpg?4" id="bg-static">
<div>
  <% provide(:title, "Sign Up") %>  
  <div class="jumbotron text-center">
    <h1 id="signup-title">Join</h1>
    <%= render 'form' %>
  </div>
</div>
