<img src="http://i.imgur.com/x2G2aLn.jpg" id="bg-results">
<% provide(:title, "Concert Results") %>
<div class="results">

  <% unless Array(@concerts).count == 0 %>
    <%= render 'results' %>
  <% else %>
    Sorry, there are no concerts listed for that criteria at this moment.</br> Check back later.</br> </br>  
    <br/><%= link_to "Search More Concerts", new_concert_path %> OR 
    <%= link_to "Search Similar Artists Names", new_artist_path, {class: "btn btn-primary"} %>
  <% end %>
</div>



