<% provide(:title, "My Concerts") %>
<h1>My Concerts</h1>
<ul>
  <% @concert_list["events"]["event"].each do |event| %>
    <li><h2><%= event["artists"]["headliner"] %></h2></li>
    <li><%= event["artists"]["artist"].join(", ") %></li>
  <% end %>

</ul> 

