@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Syncopate:400,700|Orbitron:500,700,900,400);


.navbar {
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  background-color: #000000; 
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
body {
  margin-top: 60px;
  margin-bottom: 60px;
  a:hover {
      text-decoration: none;
    }
}
#amanda {
  text-decoration: none;
  color: gray;
}

/*home*/



#lve {
 font-size: 3em;
 font-family: 'Orbitron', sans-serif;
   a {
    color: black;
  } 
}

#welcome {
 font-size: 1em;
 font-family: 'Syncopate', sans-serif;
 font-weight: 400;
}

#header-home {
  padding-top:5em;
  font-size: 1em;
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  color: grey;
}

/*about page*/
#bg-static {
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1
}

.title-static {
  font-family: 'Orbitron', sans-serif;  
  font-size: 30px;
  padding-bottom: 1em;
}
.header-static {
  padding-left: 10em;
  padding-top: 3em;
  font-family: 'Syncopate', sans-serif;
}
.header-static2 {
  font-size: 15px;
  font-family: 'Orbitron', sans-serif; 
}

#title-about {
  margin-left: 50px;
  position: fixed;
  padding: 60px;
  font-family: 'Orbitron', sans-serif;  
  font-size: 40px;
}

.header-about {
 font-size: 20px;
 font-family: 'Syncopate', sans-serif;
}

#xs-about {
  padding-top: 3em;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
}
/*signin page*/


.jumbotron {
  font-size: 1.5em;
  background: transparent;
  font-family: 'Syncopate', sans-serif;
}
.user-form {
 font-family: 'Orbitron', sans-serif;  
 padding-left: 1em;
}
.form {
 color: #3275C1;
}
.input {
  max-width: 10em;
}


.input2 {
  max-width: 9em;
}
/*signup*/

.xs-sign-title {
  font-size: 2.5em;
  color: black;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: -.5em;
}

.sign-title {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
  font-family: 'Orbitron', sans-serif;
  color: black;
} 
 .join {
  font-size: 9em;
  margin-top: 1.25em;
  margin-right: -4em;
}
.enter {
  font-size: 3em;
  padding-top: 5em;
  margin-right: -4.5em;
}

.btn {
  background: black;
  color: white;
} .btn:hover {
  background: black;
  color: #3275C1;
}

/*search concert*/

#bg-search { 
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.jumbotron.search {
 width: 100%;
  padding-top: 7em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  height: 100%;
  background: transparent;
  text-align:center;
  size: 5em;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
}
#concert-search-title{
  text-align: center;
  color: #E9E9E9;
}
#search-params {
  text-align: center;
}
.form-text {
  color: #E9E9E9;
  font-size: 2em;
  text-align: center;
}
/*artist search*/

#bg-search2 {
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.jumbotron.search2 {
  width: 100%;
  padding-top: 7em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  height: 100%;
  background: transparent;
  text-align:center;
  size: 5em;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}
#searchtag {
  color: black;
  font-size: 100px;
  text-align: center;
}
#searchtag2 { 
  text-align: center;
}
/*user page*/

#bg-user {
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.header {
  position: fixed;
  color: white;
  font-size: 50px;
  font-family: 'Syncopate', sans-serif;
  padding-top: 20px;
}
/*index concerts*/
#bg-results {
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.results {
  width: 60%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  height: 60%;
  background: transparent;
  size: 50px;
  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 800px;
  text-align: center;
}

/*artist search results*/

#bg-list {
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
#saved-results {
  text-align: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  background: transparent;
  size: 50px;
  font-family: 'Syncopate', sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 500px;
}

.header1 {
  color: white;
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
}

.concert-name {
  font-size: 100px;
}

/*blinker*/
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
