<nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <p class="hidden-xs"><a id="amanda" href="http://www.linkedin.com/pub/amanda-raymond/8a/807/377/" target="_blank">Amanda Raymond</a></p>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
